.mb {
	margin-bottom: 5rem;
	display: flex;
	flex-wrap: wrap;
}

.main-area2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: rgba(59, 69, 107, 0.342);
	padding: 2rem;
	margin-top: 5%;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 5px rgba(59, 69, 107, 0.007);
	justify-content: center;
	align-items: center;
	padding-bottom: 6rem;
}

.main-area2 .title {
	color: whitesmoke;
	font-size: 6vh;
	font-family: 'Courgette', cursive;
}

.main-grid {
	justify-content: center;
}
