.mb-pro {
	margin-bottom: 5rem;
}

.main-area2-pro {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	background-color: rgba(59, 69, 107, 0.342);
	padding: 2rem;
	margin-top: 5%;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 5px rgba(59, 69, 107, 0.007);
	justify-content: center;
	align-items: center;
}

.main-area2-pro .title {
	color: #148df0;
	font-size: 6vh;
}

.main-grid.pro {
	justify-content: center;
}

.logo-collection {
	justify-content: center;
	padding-top: 35px;
	padding-bottom: 10px;
}

.logo {
	height: 4.5em;
	width: auto;
	margin: 0px 1px;
	padding-left: 5px;
	padding-right: 5px;
}
