/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

.logoo {
	font-size: 2.5vh;
	font-family: 'Reggae One', cursive;
	color: #829fd967;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: fixed; */
}

.logoo:hover {
	color: #829fd967;
}
