.about-us-section {
    font-family: 'Raleway', sans-serif;
    color: white;
    border: 1px solid #148df0;
    /* box-sizing: border-box; */
    border-radius: 23px;
    width: 85vw;
    margin-top: 5%;
}

.about-us-section .title {
    color: #148df0;
    font-size: 6vh;
    margin-left: 8vw;
    margin-bottom: 5vh;
    margin-top: 8vh;
}

.about-us-section .content {
    color: white;
    font-size: 3.8vh;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vh;
}

@media screen and (max-width: 426px) {
    .about-us-section {
          border: none;
    }

    .about-us-section .title {
          margin-left: 0;
    }

    .about-us-section .content {
          color: white;
          font-size: 2.5vh;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 5vh;
    }
}

@media(min-width:1600px) {
    .container.about-us-section {
          max-width: 85vw;
    }
}

@media(min-width:2500px) {
    .container.about-us-section {
          max-width: 85vw;
    }
}