.footer {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: rgba(23, 28, 49, 0.842);
	padding-top: 1.3rem;
	justify-content: center;
	align-items: center;
}

.footer .title {
	color: whitesmoke;
	font-size: 6vh;
	font-family: 'Stick', sans-serif;
	margin-bottom: -1.6rem;
}

.footer .logo-collection {
	justify-content: center;
}

.footer .logo-collection .logo2 {
	height: 2em;
	width: auto;
	margin: 0px 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	transition: 0.4s;
}

.footer .logo-collection .logo {
	height: 1.5em;
	width: auto;
	margin: 0px 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	transition: 0.4s;
}

.mail .logo {
	height: 1em;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.footer .logo-collection .logo2:hover,
.footer .logo-collection .logo:hover {
	transform: scale(1.05);
}

.mail-link {
	display: inline;
}

.mail-link :hover {
	color: #d4dbf5;
	text-decoration: none;
}

.mail-link-tag {
	color: #d4dbf5;
	position: relative;
}

.mail-link-tag:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #d4dbf5;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.mail-link-tag:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

.fcaption-link {
	display: inline;
	transition: 0s background-color;
}
.fcaption-link :hover {
	text-decoration: none;
	color: rgba(245, 245, 245, 0.733);
	transition-delay: 0.03s;
}

.fcaption-link-tag {
	text-decoration: none;
	display: inline;
	color: #d4dbf5;
}

.fcaption {
	margin-top: -0.8rem;
	word-spacing: 1px;
	color: #d4dbf5;
}

hr {
	width: 80%;
	background-color: #d4dbf5;
}
